<h2>Job Applications</h2>
<nav>
  <a routerLink="/add">Add New</a>
</nav>
@if (applications$ | async; as applications) {
<table border="1">
  <thead>
    <tr>
      <th>Company</th>
      <th>Position</th>
      <th>Status</th>
      <th>Date Applied</th>
    </tr>
  </thead>
  <tbody>
    @for (app of applications; track app.id) {
    <tr (click)="navigateToView(app.id)">
      <td>{{ app.companyName }}</td>
      <td>{{ app.position }}</td>
      <td (click)="cancelNavigateToView($event)">
        <select [(ngModel)]="app.status" (change)="onStatusChange(app, app.status)">
          @for (s of status; track s) {
          <option [value]="s">{{ s }}</option>
          }
        </select>
      </td>
      <td>{{ app.dateApplied | date }}</td>
    </tr>
    }
  </tbody>
</table>
}
@else {
<ng-template #loading>
  <p>Loading applications...</p>
</ng-template>
}